/* @font-face {
  font-family: 'LumosLatino';
  src: url('fonts/LumosLatino.ttf') format('truetype');
} */

@font-face {
  font-family: 'MyLumos';
  src: url('fonts/MyFontRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'HARRP___';
  src: url('fonts/HARRP___.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'MyLumos';
  Fallback: sans-serif;
  color: #ffffff;
  text-align: center;
  /* cursor: url('images/lightning cursor.png'), auto; */
  background-image: url('images/hogwarts wallpaper.jpg');
  /* background-image: url('http://wallpaper.pickywallpapers.com/2560x1440/minimalistic-harry-potter.jpg'); */
  /* background-image: url('images/minimalistic-harry-potter.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  min-width: 100%;
}

.container-fluid {
  min-height: 100%;
  position: relative;
}

h1 {
  display: block;
  font-family: 'MyLumos';
  Fallback: sans-serif;
  color: #ffffff;
  font-size: 3.5em;
  margin: 0.5em;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

#main {
  display: flex;
  flex-direction: row;
  padding: 1.5em;
}

/* .col-lg-4 {
  width: 33.33%;
  float: left;
} */

.col-lg-6 {
  width: 50%;
  float: left;
}

/* #left-crest {
  border: 5px outset #fcec5a;
  display: flex;
  flex-direction: column;
  padding: 1em;
  align-items: center;
  justify-content: center;
} */

h2 {
  font-size: 2.5em;
  /* font-family: 'LUMOS'; */
  /* Fallback: sans-serif; */
}

/* img {
  width: 50%;
} */

img {
  width: 80%;
  margin: 1em;
}

#left {
  border: 5px outset #fcec5a;
  /* display: block; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* margin: 1em auto; */
  padding: 2em;
  /* height: 60vh; */
}

#left-top {
  /* display: flex; */
  display: block;
  float: left;
  /* align-items: center; */
  /* justify-content: flex-end; */
  color: #fcec5a;
  /* color: #a3a7a1; */
  /* color: #666666; */
  padding: 1em;
}

.big {
  font-size: 1.5em;
  /* color: #fcec5a; */
}

.form-control {
  font-family: Tahoma;
}

.btn {
  font-family: 'MyLumos';
  Fallback: sans-serif;
  /* color: #a3a7a1; */
  margin: 0 auto 3em auto;
}

#accio-button {
  border: 3px solid #fcec5a;
  margin: 1em;
}
#accio-button:hover {
  /* background: #fcec5a; */
  border: 3px solid #a3a7a1;
  /* border: 3px solid #de9f3b; */
  /* color: #a3a7a1; */
  /* color: #fcec5a; */
  color: #de9f3b;
}

#sorting-button {
  background-color: #fcec5a;
  border: 3px solid #fcec5a;
}

#sorting-button:hover {
  background-color: #fcec5a;
  /* border: 3px solid #a3a7a1; */
  border: 3px solid #de9f3b;
  /* border: 3px solid #ab6d2b; */
  color: #de9f3b;
  /* color: #a3a7a1 */
}

#right {
  border: 5px outset #fcec5a;
  display: flex;
  flex-direction: column;
  font-family: 'HARRP___';
  Fallback: sans-serif;
  font-size: 1.5em;
  padding: 2em;
  align-items: center;
  justify-content: center;
}

#right-top {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

#generator {
  border: 5px outset #fcec5a;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'HARRP___';
  Fallback: sans-serif;
  font-size: 2em;
  margin: 2em;
}

.your-spell {
  font-family: 'MyLumos';
  Fallback: sans-serif;
  font-size: 1em;
  color: #fcec5a;
}

footer {
  /* border: 5px outset #fcec5a; */
  font-family: Tahoma;
  text-align: center;
  /* color: #fcec5a; */
  /* color: #000000; */
  color: #ffffff;
  /* color: #a3a7a1; */
  width: 100%;
  padding: 1.5em;
}

@media (max-width: 800px) {
  #main {
    /* display: flex; */
    flex-direction: column;
    width: 100vw;
  }
  .col-lg-6 {
    width: 100%;
    float: left;
  }
  img {
    width: 50%;
    margin: 1em;
  }
  #left-top {
    flex-direction: column;
  }
}
