@font-face {
  font-family: 'MyLumos';
  src: url('fonts/MyFontRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'HARRP___';
  src: url('fonts/HARRP___.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'MyLumos';
  Fallback: sans-serif;
  color: #ffffff;
  text-align: center;
  cursor: url('images/lightning-icon.png'), auto;
  background-image: url('images/hogwarts wallpaper.jpg');
  /* background-image: url('http://wallpaper.pickywallpapers.com/2560x1440/minimalistic-harry-potter.jpg'); */
  /* background-image: url('images/minimalistic-harry-potter.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-right: auto;
  margin-left: auto;
  min-height: 100vh;
}

.container-fluid {
  min-height: 100%;
  position: relative;
}

h1 {
  display: block;
  font-family: 'MyLumos';
  Fallback: sans-serif;
  color: #ffffff;
  font-size: 3.5em;
  margin-top: 0.5em;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

#main {
  display: flex;
  flex-direction: row;
  padding: 1.5em;
}

.col-lg-6 {
  width: 50%;
  float: left;
}

.house-name {
  font-size: 3em;
  color: #de9f3b;
  /* color: #fcec5a; */
}

img {
  width: 60%;
}

#left {
  /* border: 5px outset #fcec5a; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* margin: 1em auto; */
  padding: 0 2em;
  margin: auto;
}

#left-top {
  display: block;
  vertical-align: bottom;
  color: #fcec5a;
  /* color: #de9f3b; */
  width: 100%;
  padding: 2em;
}

#left-crest {
  margin: 0;
  width: 100%;
}

.big {
  font-size: 1.5em;
}

.form-control {
  font-family: Tahoma;
}

.btn {
  font-family: 'MyLumos';
  Fallback: sans-serif;
  /* color: #a3a7a1; */
  margin: 0 auto 3em auto;
}

#accio-button {
  /* border: 3px solid #de9f3b; */
  border: 3px solid #fcec5a;
  margin: 2em;
  height: 100%;
}
#accio-button:hover {
  border: 3px solid #a3a7a1;
  /* color: #fcec5a; */
  color: #de9f3b;
}

#sorting-button {
  /* border: 3px solid #fcec5a; */
  border: 3px solid #de9f3b;
  background-color: #fcec5a;
  /* background-color: #de9f3b; */
  margin: 2em;
  height: 100%;
}

#sorting-button:hover {
  border: 3px solid #de9f3b;
  /* border: 3px solid #a3a7a1; */
  /* border: 3px solid #ab6d2b; */
  /* background-color: #fcec5a; */
  color: #de9f3b;
  /* color: #a3a7a1 */
}

#copy-button {
  /* border: 3px solid #fcec5a; */
  border: 3px solid #a3a7a1;
  background-color: #fcec5a;
  /* background-color: #a3a7a1; */
  color: #a3a7a1
  margin: 1em 2em 4em 2em;
  /* height: 100%; */
}

#copy-button:hover {
  /* border: 3px solid #fcec5a; */
  /* border: 3px solid #de9f3b; */
  border: 3px solid #a3a7a1;
  background-color: #fcec5a;
  color: #a3a7a1;
  /* color: #a3a7a1 */
}

#right {
  /* border: 5px outset #fcec5a; */
  display: flex;
  flex-direction: column;
  font-family: 'HARRP___';
  Fallback: sans-serif;
  font-size: 1.5em;
  padding: 0 3em;
  align-items: center;
  justify-content: center;
}

#right-top {
  display: flex;
  justify-content: center;
}

.your-spell {
  font-family: 'MyLumos';
  Fallback: sans-serif;
  font-size: 1em;
  color: #fcec5a;
  width: 100%;
  margin: 1em;
}

.ipsum-generated {
  width: 100%;
}

#right-mid {
  width: 100%;
}

footer {
  /* border: 5px outset #fcec5a; */
  font-family: Tahoma;
  text-align: center;
  color: #ffffff;
  /* color: #fcec5a; */
  /* color: #a3a7a1; */
  width: 100%;
  padding: 1.5em;
}


@media (max-width: 800px) {
  #main {
    flex-direction: column;
    width: 100vw;
  }
  .col-lg-6 {
    width: 100%;
    float: left;
  }
  .house-name {
    font-size: 2.5em;
  }
  img {
    width: 50%;
    margin: 1em;
  }
  #left-top {
    flex-direction: column;
  }
  #accio-button {
    margin: 1em;
  }
  #sorting-button {
    margin: 1em;
  }
}
